#ignore
Web_service_testing/bin/
Web_service_testing/obj/
Web_service_testing/Dropbox.API.Test/bin/
Web_service_testing/Dropbox.API.Test/obj/
Web_service_testing/Dropbox.API.Test.Infrastructure/bin/
Web_service_testing/Dropbox.API.Test.Infrastructure/obj/

#except this
!Web_service_testing/Dropbox.API.Test/bin/Debug/Dropbox.API.Test.dll