<!-- <?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections> -->
  <appSettings>
    <add key="serviceUrl" value="https://api.dropboxapi.com/2" />
    <add key="contentServiceUrl" value="https://content.dropboxapi.com/2" />
    <add key="token" value="Bearer sl.AbCCFDX9WV_LGcaHzJjd2E1DCrlPBGouua0kb4uoM91kq1Exp1-CtK-zz8jW4qV53Q9ttfHhpPyAELBcU_F2DrLCFJ7AkDbyDoGbCK0lVqOVsPMri-rkMFQEg_TkZEkweariDFma" />
    <add key="defaultFilePath" value="/TestDataFiles" />
  </appSettings>

  <!-- <specFlow>
    <unitTestProvider name="xUnit" />
  </specFlow> -->
  <!-- <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup> -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration> -->
