<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha05" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="83.0.4103.1400-beta" targetFramework="net472" />
</packages>