<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serviceUrl" value="https://api.dropboxapi.com/2" />
    <add key="contentServiceUrl" value="https://content.dropboxapi.com/2" />
    
    <add key="oauth2Url" value="https://www.dropbox.com/oauth2/authorize" />
    <add key="clientId" value="mxpsl08oe6q5c7w" />
    <add key="redirectUri" value="https://google.com" />
    <add key="responseType" value="token"/>

    <add key="defaultFilePath" value="../../../Dropbox.Api.Test/TestDataFiles" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="email" value="brandd1re@gmail.com" />
    <add key="password" value="QWEasd123" />

    <add key="shouldUseEnvVar" value="false" />
    <add key="envTokenVarName" value="SEXYASSDIMA_TOKEN"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>